*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.container {
  margin: 0 20px;

  @include tablet-size {
    margin: 0 30px;
  }

  @include desktop-size {
    margin: 0 auto;
    max-width: 1220px;
  }
}
