@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}

@mixin font-decore($font-family, $font-size, $line-height: 1, $font-weight: 400,  $font-color) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $font-color;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin tablet-size {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin desktop-size {
  @media screen and (min-width: $desktop) {
    @content;
  }
}
