.address {
  display: flex;
  flex-direction: column;

  @include tablet-size {
    gap: 10px;
  }
}

.address__element {
  @include font-decore($second-font, 14px, 1.43, 400, $basic-text-color);
  font-style: normal;

  @include tablet-size {
    text-align: end;
    font-size: 16px;
  }

  @include desktop-size {
    text-align: start;
  }
}
