.button {
  @include font-decore($main-font, 16px, 1.25, 400, $secondary-color);
  text-transform: uppercase;
  background-color: $accent-color;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  transition: background-color 0.3s;

  &:hover,
  &:focus-visible {
    background-color: $accent-color-hover;
    transition: background-color 0.3s;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: $basic-bg-color;
    color: #d9d9d9;
  }

  @include tablet-size {
    font-size: 20px;
    line-height: 1.3;
  }

  &--disabled {
    background-color: $basic-bg-color;
    color: #d9d9d9;
    cursor: auto;
    border: 1px solid #cdcdcd;

    &:hover {
      background-color: $basic-bg-color;
      color: #d9d9d9;
    }
  }
}
