.declaration {
  background-image:
    linear-gradient(to bottom, rgba(105, 184, 57, 0.85) 63%, $secondary-color 37%),
    url("../../images/decorate/backgrounds/bg-main-page-mobile@1x.png"),
    linear-gradient(to right, #504f54, #434247);
  background-position: center top;
  background-repeat: no-repeat;

  @include retina {
    background-image:
      linear-gradient(to bottom, rgba(105, 184, 57, 0.85) 63%, $secondary-color 37%),
      url("../../images/decorate/backgrounds/bg-main-page-mobile@2x.png"),
      linear-gradient(to right, #504f54, #434247);
    background-size: auto, auto 320px, auto;
  }
  padding-bottom: 20px;

  @include tablet-size {
    background-image: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    padding-bottom: 0;
  }

  @include desktop-size {
    padding: 30px 0 52px;
    grid-template: repeat(2, auto) 1fr / 1fr 610px 610px 1fr;
    grid-template-areas:
      ". title    image-area ."
      ". subtitle image-area ."
      ". link     image-area .";
    background-image: linear-gradient(to right, $secondary-color 50%, $accent-color 50%);
  }
}

.declaration__title {
  @include font-decore($main-font, 36px, 1, 400, $secondary-color);
  text-align: center;
  margin: 0;
  padding: 27px 20px 25px;

  @include tablet-size {
    font-size: 60px;
    color: $based-color;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    text-align: left;
    padding: 65px 120px 40px;
  }

  @include desktop-size {
    grid-area: title;
    padding: 110px 0 0 80px;
  }
}

.declaration__subtitle {
  @include font-decore($main-font, 14px, 1, 400, $secondary-color);
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0 20px 30px;

  @include tablet-size {
    font-size: 20px;
    color: $based-color;
    grid-row: 2 / 3;
    grid-column: 1/ -1;
    text-align: left;
    padding: 0 21px 21px 120px;
  }

  @include desktop-size {
    grid-area: subtitle;
    padding: 0 0 0 80px;
  }
}

.declaration__image {
  display: block;
  margin: 0 auto;

  &-fake {
    @include tablet-size {
      grid-row: 3 / 4;
      grid-column: 1/ -1;
    }

    @include desktop-size {
      grid-area: image-area;
    }
  }

  @include desktop-size {
    margin: 0 0 0 -160px;
  }
}

.declaration__link {
  display: block;
  margin: 0 20px;
  text-align: center;

  @include tablet-size {
    grid-row: 3 / 4;
    grid-column: 1/ -1;
    display: flex;
    place-self: start;
    max-width: 250px;
    margin: 30px 120px 0;
    padding: 14px 26px;
  }

  @include desktop-size {
    grid-area: link;
    margin: 0 0 0 80px;
  }
}
