.example {
  background-color: #eaeaea;
  padding: 25px 0 40px;

  @include tablet-size {
    background: linear-gradient(to top, #eaeaea 462px, $secondary-color 463px);
    display: grid;
    grid-template-rows: repeat(4, auto) / repeat(2, 1fr);
    grid-template-areas:
      "title    title"
      "subtitle subtitle"
      "list     sum"
      "slider   slider";
    padding: 45px 0 100px;
  }

  @include desktop-size {
    grid-template: repeat(4, auto) / 1fr 610px 610px 1fr;
    grid-template-areas:
      ". title    slider ."
      ". subtitle slider ."
      ". list     slider ."
      ". sum      slider .";
  }
}

.example__title {
  @include font-decore($main-font, 36px, 1.4, 400, $based-color);
  padding: 0 20px 40px;
  margin: 0;

  @include tablet-size {
    grid-area: title;
    font-size: 60px;
    line-height: 1;
    padding: 0 30px 60px;
  }

  @include desktop-size {
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
  }
}

.example__subtitle {
  @include font-decore($second-font, 14px, 1.29, 400, $basic-text-color);
  padding: 0 20px;
  margin: 0;

  @include tablet-size {
    grid-area: subtitle;
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 55px;
  }
}

.example__list {
  @include reset-list;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include tablet-size {
    grid-area: list;
    margin: 0 0 0 30px;
  }

  @include desktop-size {
    justify-content: left;
  }
}

.example__list-item {
  @include font-decore($main-font, 24px, 1, 400, $based-color);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  border: 1px solid #ff0000;
  align-items: center;
  padding: 10px;


  &::after {
    @include font-decore($second-font, 12px, 1, 400, $basic-text-color);
    text-transform: lowercase;
  }

  &--weight {
    &::after {
      content: "Снижение веса";
    }
  }

  &--duration {
    &::after {
      content: "Затрачено времени";
    }
  }

  @include tablet-size {
    font-size: 30px;
    line-height: 1.2;
  }
}

.example__sum {
  @include font-decore($main-font, 14px, 1.4, 400, $based-color);
  text-transform: uppercase;
  margin: 0 20px 20px;
  text-align: center;

  @include tablet-size {
    grid-area: sum;
    font-size: 20px;
    line-height: 1;
    margin: 0 30px 0 0;
  }
}

.example__slider {
  margin: 0 20px;

  @include tablet-size {
    grid-area: slider;
    margin-top: 100px;
  }

  @include desktop-size {
    margin: 0;
  }
}
