.header {
  font-family: $main-font;
  background-color: $secondary-color;
  color: $based-color;
}

.header__navigation {
  display: grid;
  grid-template: 66px 1fr / 1fr minmax(24px, auto);
  grid-template-areas:
    "logo       toggle"
    "navigation navigation";
  background-color: $secondary-color;

  &--none-js {
    .header__navigation-list {
      display: block;
    }

    .header__toggle {
      display: none;
    }
  }

  @include tablet-size {
    padding-top: 25px;
    grid-template: 1fr / auto 1fr;
    grid-template-areas: "logo navigation";
    margin: 0 34px 0  30px;
    gap: 20px;
  }

  @include desktop-size {
    grid-template-columns: 1fr 610px 610px 1fr;
    grid-template-areas: ". logo navigation .";
    gap: 0;
    margin: 0;
    border-color: $accent-color;
  }

  &--main {
    @include desktop-size {
      background-image: linear-gradient(to right, $secondary-color 50%, $accent-color 50%);
      color: $secondary-color;
      border-color: $secondary-color;
    }
  }
}

.header__navigation--js {
  .header__navigation-list {
    position: absolute;
    top: 66px;

    @include tablet-size {
      position: initial;
    }
  }
}

.header__logo {
  grid-area: logo;
  align-content: center;
  margin-left: 20px;

  @include tablet-size {
    margin-left: 0;
  }
}

.header__toggle {
  grid-area: toggle;
  align-content: center;
  margin-right: 20px;

  @include tablet-size {
    display: none;
  }
}

.header__navigation-list {
  grid-area: navigation;
  align-content: center;
  border-top: 1px solid #d9d9d9;

  @include tablet-size {
    border-top: none;
    margin-right: 30px;
  }
}
