.logo {
  display: grid;
  grid-template-columns: auto 1fr;
  opacity: 1;
  transition: opacity 0.3s;

  &:hover,
  &:focus-visible {
    opacity: 0.8;
    transition: opacity 0.3s;
  }

  &:active {
    opacity: 0.6;
    transition: opacity 0.3s;
  }

  @include tablet-size {
    gap: 13px;
  }

  @include desktop-size {
    gap: 14px;
  }
}

.logo__image {
  display: block;
}

.logo__text {
  place-self: center;

  @include tablet-size {
    justify-self: start;
  }

  @include desktop-size {
    width: 118px;
    height: 21px;
    display: block;
  }

  &--footer {
    @include desktop-size {
      width: 128px;
      height: 24px;
    }
  }
}
