.map {
  background-color: $secondary-color;

  @include desktop-size {
    display: grid;
    grid-template-columns: 1fr 1220px 1fr;
    grid-template-rows: minmax(30px, 1fr) auto minmax(30px, 1fr);
    justify-content: left;
  }

  &--catalog {
    background-color: $basic-bg-color;
  }
}

.map__wrapper {
  display: grid;
  grid-template: 1fr / 1fr;

  iframe {
    grid-row: 1/ -1;
    grid-column: 1/-1;
    width: 100%;
    height: 362px;
    border: none;
    display: block;
    z-index: 2;
  }

  @include tablet-size {
    iframe {
      height: 400px;
    }
  }

  @include desktop-size {
    grid-column: 1/-1;
    grid-row: 1/-1;

    iframe {
      min-height: 400px;
      height: 100%;
    }
  }
}

.map__wrapper-fake {
  width: 100%;
  max-height: 362px;
  display: grid;
  grid-row: 1/ -1;
  grid-column: 1/-1;
  z-index: 1;

  @include tablet-size {
    max-height: 400px;
  }
}

.map__image {
  width: 100%;
  object-fit: cover;
}

.map__address {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 26px 0;
  gap: 4px;

  @include tablet-size {
    gap: 45%;
    padding: 60px 40px;
  }

  @include desktop-size {
    grid-row: 2/3;
    grid-column: 2/3;
    z-index: 3;
    background-color: $secondary-color;
    margin: 0;
    max-width: 565px;
    gap: 90px;
    padding: 58px 78px 58px 80px;
  }
}

.map__address-title {
  @include font-decore($main-font, 16px, 1.25, 400, $based-color);
  text-transform: uppercase;
  margin: 0;

  @include tablet-size {
    font-size: 20px;
    line-height: 1.3;
  }

  @include desktop-size {
    line-height: 1.2;
  }
}
