.page__body {
  background-color: $secondary-color;
  color: $based-color;
  font-family: $main-font;
  position: relative;

  @include desktop-size {

    &:has(.header__navigation--main) {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        display: block;
        width: 100%;
        height: 694px;
        background:
          linear-gradient(to right, $secondary-color 50%, rgba(104, 183, 56, 0.85) 50%) top right,
          url("../../images/decorate/backgrounds/bg-main-page-desktop@1x.png") no-repeat top right,
          linear-gradient(to right, #49494d, #3e3d43) top right;
        background-size: auto,  1040px auto, auto;
        z-index: -1;
      }
    }
  }
}
