.show-product__block {
  padding-top: 20px;

  @include tablet-size {
    max-width: 324px;
    width: 100%;
    margin: 0 auto;
  }
}

.show-product__title {
  @include font-decore($main-font, 16px, 1.25, 400, #111111);
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 8px;


  &::before {
    content: "";
    width: 30px;
    height: 30px;
    display: block;
    background-image: url("../../icons/icon-plus.svg");
    margin: 0 auto 23px;
  }
}

.show-product__subtitle {
  @include font-decore($second-font, 12px, 1.33, 400, $basic-text-color);
  text-align: center;
  margin: 0 0 21px;
}

.show-product__link {
  text-decoration: none;
  display: block;
  text-align: center;

  &.button {
    background-color: $basic-bg-color;
    color: $basic-text-color;
  }
}
