.subscription {
  padding: 20px 0 40px;

  @include tablet-size {
    padding: 80px 0 68px;
    margin: 0;
  }

  @include desktop-size {
    //margin: 0 auto;
    padding: 96px 0 104px;
    display: grid;
    grid-template: auto auto / 1fr 1300px 1fr;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 0;
      padding: 1px;
      background-color: $accent-color;
      align-self: center;
    }

    &::before {
      grid-column: 1/ 2;
      grid-row: 1/ 2;
      display: grid;
      grid-template: 1fr/ 1fr auto;
      gap: 0 20px;
    }

    &::after {
      grid-column: 3/ -1;
      grid-row: 1 / 2;
    }
  }
}


.subscription__wrapper {
  @include desktop-size {
    grid-column: 2/3;
    grid-row: 2/-1;
    max-width: 1220px;
    margin: 0 auto;
  }
}
.subscription__title {
  @include font-decore($main-font, 24px, 1, 400, $based-color);
  margin: 0 0 0 20px;
  //padding-bottom: 32px;
  align-items: center;
  display: grid;
  grid-template: auto / auto  1fr;
  gap: 40px;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    padding: 1px;
    background-color: $accent-color;
    grid-column: 2/-1;
    grid-row: 1/ -1;
  }

  @include tablet-size {
    font-size: 32px;
    margin-left: 30px;
  }

  @include desktop-size {
    //padding-bottom: 72px;
    margin-left: 40px;
  }
}

.subscription__subtitle {
  @include font-decore($main-font, 16px, 1.5, 400, $based-color);
  text-align: center;
  margin: 0;
  padding-bottom: 24px;

  @include tablet-size {
    font-size: 24px;
    line-height: 1.3;
  }

  @include desktop-size {
    padding: 0 50px 24px;
  }
}

.subscription__form {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr;
  gap: 16px;

  @include tablet-size {
    grid-template-columns: 1fr 256px;
    grid-template-rows: 1fr;
    gap: 0;
  }

  @include desktop-size {
    grid-template-columns: 496px 256px;
    justify-content: center;
  }
}
